{% extends 'login/base.html' %}

{% block title %}
メモ追加
{% endblock %}

{% block content %}
<div class = "container">
    <div class = "card border-info">
        <div class ="text-center">
            <div class = "card-header">
                <h5>メモを追加</h5>
            </div>
            <div class = "card-body">
                
                <form method="POST"  novlidate>
                    {% csrf_token %} 
                    {{ form.as_p }}
            </div>
            <div class = "card-footer">
                    <button type="submit" class = "btn-primary">追加</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}