{% extends 'login/base.html' %}

{% block title %}
{{ the_memo.title }}
{% endblock%}

{% block content %}
<div class="container mt-2">
    <ul>
        <div class="alert alert-success" role="alert">
            <p>タイトル：{{ the_memo.title }}</p>
            <p>自分のキャラクター：{{ the_memo.my_char }}</p>
            <p>相手のキャラクター：{{ the_memo.opp_char }}</p>
            <p>本文：{{ the_memo.body }}</p>
            <p>投稿者：{{ the_memo.author }} </p>
            <p>goods：{{ the_memo.good }}</p>
            <p>read：{{ the_memo.read }}</p>
            
            <!--更新-->
            <div class = 'container'>
                <div class ='row my-3'>
                    <h3>編集</h3>
                </div>
                <div class='row md-5'>
                    <div class='col-2'>
                        <a class = 'btn btn-primary' data-toggle='modal' data-target='#edit'>
                            edit
                        </a>
                    </div>
                </div>
            </div>

            <!--削除-->
            <div class = 'container'>
                <div class ='row my-3'>
                    <h3>削除</h3>
                </div>
                <div class='row md-5'>
                    <div class='col-2'>
                        <a class = 'btn btn-primary' data-toggle='modal' data-target='#delete'>
                            delete
                        </a>
                    </div>
                </div>
            </div>

            <!--更新-->
            <div class = 'modal fade' id = 'edit' tabindex = '-1' role='dialog' aria-labelledby = 'basicModal' aria-hidden = 'true'>
                <div class = 'modal-dialog'>
                    <div class = 'modal-content'>
                        <div class = 'modal-header'>
                            <h4>編集</h4>
                        </div>
                        <div class = 'modl-body'>
                            <label>編集</label>
                            <form method = 'post'>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type = 'submit' value = '編集'>
                            </form>
                        </div>
                        <div class = 'modal-footer'>
                            <button type = 'button' class = 'btn btn-default' data-dismiss = 'modal'>
                                閉じる
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--削除-->
            <div class = 'modal fade' id = 'delete' tabindex = '-1' role='dialog' aria-labelledby = 'basicModal' aria-hidden = 'true'>
                <div class = 'modal-dialog'>
                    <div class = 'modal-content'>
                        <div class = 'modal-header'>
                            <h4>削除</h4>
                        </div>
                        <div class = 'modl-body'>
                            <label>削除しますか？</label>
                            <form method = 'post'>
                                {% csrf_token %}
                                <input type = 'submit' value = '削除' name = 'delete'>
                            </form>
                        </div>
                        <div class = 'modal-footer'>
                            <button type = 'button' class = 'btn btn-default' data-dismiss = 'modal'>
                                閉じる
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ul>
    
</div>
{% endblock %}