{% extends 'login/base.html' %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    自分のキャラクター：<input type="text" name="my_char"><br>
    相手のキャラクター：<input type="text" name="opp_char"><br>
    <button type="submit">キャラクターを指定</button>
</form>

<div class="container mt-2">
    <ul>
        {% for memo in my_memos %}
        <div class="card border-primary">
            <div class = "card-header">
                <h5>投稿者：{{ memo.author }} </h5>
                <h6>自分のキャラクター：{{ memo.my_char }}
                相手のキャラクター：{{ memo.opp_char }}</h6>
            </div>
            <div class = "card-body">
                <h5>タイトル：<a href="{% url 'memo:memo_page' %}?memo_id={{memo.id}}">{{ memo.title }}</a></h5>
                <p>本文：{{ memo.body }}</p>
            </div>
            <div class = "card-footer">
            <p>goods：{{ memo.good }}</p>
            <p>read：{{ memo.read }}</p>
            <p>date time：{{ memo.date_time }}</p>
            </div>
            <!--<p>id：{{memo.id}}</p>-->
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}