{% extends 'login/base.html' %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    自分のキャラクター：<input type="text" name="my_char"><br>
    相手のキャラクター：<input type="text" name="opp_char"><br>
    <button type="submit">キャラクターを指定</button>
</form>

<div class="container mt-2">
    <ul>
        {% for memo in my_memos %}
        <div class="alert alert-success" role="alert">
            <p>タイトル：<a href="{% url 'memo:memo_page' %}?memo_id={{memo.id}}">{{ memo.title }}</a></p>
            <p>自分のキャラクター：{{ memo.my_char }}</p>
            <p>相手のキャラクター：{{ memo.opp_char }}</p>
            <p>本文：{{ memo.body }}</p>
            <p>投稿者：{{ memo.author }} </p>
            <p>goods：{{ memo.good }}</p>
            <p>read：{{ memo.read }}</p>
            <!--<p>id：{{memo.id}}</p>-->
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}