{% extends 'login/base.html' %}

{% block content %}

<form method='POST'>
    {% csrf_token %}
    自分のキャラクター：<input type="text" name="my_char"><br>
    相手のキャラクター：<input type="text" name="opp_char"><br>
    <button type="submit">キャラクターを指定</button>
</form>

<div class="container mt-3">
    <ul>
        {% for memo in my_memos %}
        <div class="alert alert-success" role="alert">
            <p>タイトル：{{ memo.title }}</p>
            <p>{{ memo.body }}</p>
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}