{% extends 'login/base.html' %}

{% block title %}
投稿されたメモ
{% endblock %}

{% block content %}
<div class = 'container'>
<ul>
    <form method='POST'>
        <div class = 'card mt-3 border-danger bg-light'>
            <div class = 'card-body'>
                {% csrf_token %}
                {{characters.as_p}}
                <button type="submit" class = 'btn btn-danger'>キャラクターを指定</button>
            </div>
        </div>
    </form>
</ul>
</div>

<div class = 'container'>
<ul>
    {% for memo in memos reversed %}
        <div class="card my-3 test-center border-dark" >
            <div class = "card-header">
                <h5>投稿者：{{ memo.author }} </h5>
                    <div class='container-fluid'>
                        <div class = 'row'>
                            <div class = 'col'>自分のキャラクター：{{ memo.my_char }}</div>
                            <div class = 'col'>相手のキャラクター：{{ memo.opp_char }}</div>
                            <div class = 'col'>タグ：{{ memo.tag }}</div>
                        </div>
                    </div>
                </div>
            <div class="card-body">
                <div class = "card-title">
                <h5>
                    タイトル：<a href="{% url 'memo:memo_detail' %}?memo_id={{memo.id}}">{{ memo.title }}</a>
                </h5>
            </div>
            
            <p>本文：{{ memo.body | truncatechars:50 }}</p>
            
            
        </div>
        <div class = 'card-footer'>
            <p>goods：{{ memo.good }}</p>
            <p>read：{{ memo.read }}</p>
            <p>date time：{{ memo.date_time }}</p>
        </div>
    </div>
    {% endfor %}
</ul>
</div>


{% endblock %}